{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}
    Dashboard
{% endblock %}

{% block body-class %}
    class='dashboard-page'
{% endblock %}

{% block nav %}
    {% include 'nav.html' with none='-none' scrolled='scrolled' %}
{% endblock %}

{% block content %}

    <section class="dashboard-section custom-section section section-on-bg">
        <div class="container">
            {% if message %}
                <div class="col-sm-12">
                    <p class="inner-section-title error-message">{{ message }}</p>
                </div>
            {% endif %}
            {% if available_requests %}
                {% include 'account/dashboard-table.html' with r=available_requests status='available' string='Available Requests' %}
            {% endif %}
            {% if active_requests %}
                {% include 'account/dashboard-table.html' with r=active_requests status='active' string='Active Requests' %}
            {% endif %}
            {% if inactive_requests %}
                {% include 'account/dashboard-table.html' with r=inactive_requests status='inactive' string='Request History' %}
            {% endif %}
        </div>
    </section>


{% endblock %}