{% load customtags %}
<div class="row">
    <h3 class="inner-section-title">
        {{ string }} {% if status == 'inactive' %}(<a id="history-toggle-btn" href="#">show</a>){% endif %}
    </h3>
</div>
<div class="row {{ status }}-requests {% if status == 'inactive' %}animate-height{% endif %}" >

    <table id="{{ status }}-requests-table" class="table table-hover" >
        <tr>
            <th>Request</th>
            <th>Address</th>
            <th>Wash Date</th>
            <th>Car Count</th>
            <th>Status</th>
            {% if status != 'inactive' %}
                <th>Action</th>
            {% endif %}
        </tr>
        {% for request in r %}
            <tr>
                <td>
                    <a href="{% url 'a:carwash' %}?id={{ request.id }}">Wash request
                        #{{ request.id }}</a>
                </td>
                <td>
                    <a href="https://google.com.au/maps/place/{{ request.address.oneline_address|url_address }}">
                        {{ request.address.oneline_address }}
                    </a>
                </td>
                <td>{{ request.wash_date }}</td>
                <td>{{ request.car_count }}</td>
                <td>{{ request.get_status_display }}</td>
                {% if status == 'available' %}
                    <td>
                        <a href="#" type="button" class="btn btn-success no-border-radius">Accept</a>
                    </td>
                {% elif status == 'active' %}
                    <td>
                        {% if request.status == 1 and user.role == 'washee' %}
                            <a href="{% url 'a:carwash' %}?id={{ request.id }}" type="button"
                               class="btn btn-success no-border-radius">Payment</a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>