{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block body-class %}
    class="login-page access-page has-full-screen-bg"
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
    <div class="upper-wrapper">
        {% include 'nav2.html' %}
        <!-- ******Login Section****** -->
        <section class="login-section access-section section">
            <div class="container">
                <div class="row">
                    <div class="form-box col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 xs-offset-0">
                        <div class="form-box-inner">
                            <h2 class="title text-center">Log in to AirSponge</h2>
                            <div class="row">
                                <div class="form-container col-md-5 col-sm-12 col-xs-12">
                                    <form class="login-form" method="POST" action="{% url 'account_login' %}">
                                        {% csrf_token %}

                                        <div class="form-group email">
                                            <label class="sr-only" for="id_login">Email or username</label>
                                            <input id="id_login" name="login" type="email"
                                                   class="form-control login-email"
                                                   placeholder="Email">
                                        </div><!--//form-group-->

                                        <div class="form-group password">
                                            <label class="sr-only" for="login-password">Password</label>
                                            <input id="id_password" name="password" type="password"
                                                   class="form-control login-password" placeholder="Password">

                                        </div><!--//form-group-->

                                        <div class="form-group">
                                            <div class="checkbox remember">
                                                <label>
                                                    <input id="id_remember" name="remember"
                                                           type="checkbox">Remember me
                                                </label>
                                            </div><!--//checkbox-->
                                        </div>

                                        {% if redirect_field_value %}
                                            <input type="hidden" name="{{ redirect_field_name }}"
                                                   value="{{ redirect_field_value }}"/>
                                        {% endif %}

                                        <div class="form-actions">
                                            <button class="btn btn-block btn-cta-primary"
                                                    type="submit">{% trans "Log In" %}</button>
                                        </div>

                                        <p class="forgot-password"><a
                                                href="{% url 'account_reset_password' %}">
                                            Forgot
                                            password?</a></p>

                                        <p class="lead">Don't have an account with AirSponge?<a class="signup-link"
                                                                                                href="/accounts/signup">Sign
                                            Up</a></p>

                                    </form>

                                </div><!--//form-container-->
                                <div class="social-btns col-md-5 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-sm-offset-0">
                                    <div class="divider"><span>Or</span></div>
                                    {% include 'socialbuttons.html' with action='Log in' %}
                                </div><!--//social-btns-->
                            </div><!--//row-->
                        </div><!--//form-box-inner-->
                    </div><!--//form-box-->
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//contact-section-->
    </div><!--//upper-wrapper-->
{% endblock %}
