{% extends "account/base.html" %}

{% load bootstrap %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block body-class %}
    class="signup-page access-page has-full-screen-bg"
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
    <div class="upper-wrapper">
        {% include 'nav2.html' %}

        <!-- ******Signup Section****** -->
        <section class="signup-section access-section section">
            <div class="container">
                <div class="row">
                    <div class="form-box col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 xs-offset-0">
                        <div class="form-box-inner">
                            <h2 class="title text-center">Sign up now</h2>
                            <p class="intro text-center">It only takes 3 minutes!</p>
                            <div class="row">
                                <div class="form-container col-md-5 col-sm-12 col-xs-12">
                                    <form id="signup-form" method="post"
                                          action="{% url 'account_signup' %}">
                                        {% csrf_token %}

{#                                        <div class="form-group email">#}
{#                                            <label class="sr-only" for="id_email">Your email</label>#}
{#                                            <input id="id_email" name="email" type="email"#}
{#                                                   class="form-control login-email"#}
{#                                                   placeholder="Your email">#}
{#                                            {% for error in form.email.errors %}#}
{#                                                <p class="error-message">{{ error }}</p>#}
{#                                            {% endfor %}#}
{#                                        </div><!--//form-group-->#}
{##}
{#                                        <div class="form-group password">#}
{#                                            <label class="sr-only" for="id_password">Your password</label>#}
{#                                            <input id="id_password1" name="password1" type="password"#}
{#                                                   class="form-control login-password" placeholder="Password">#}
{#                                            {% for error in form.password1.errors %}#}
{#                                                <p class="error-message">{{ error }}</p>#}
{#                                            {% endfor %}#}
{#                                        </div><!--//form-group-->#}

                                        {{ form|bootstrap }}

                                        {% if redirect_field_value %}
                                            <input type="hidden" name="{{ redirect_field_name }}"
                                                   value="{{ redirect_field_value }}"/>
                                        {% endif %}

                                        <div class="form-actions">
                                            <button class="btn btn-block btn-cta-primary" type="submit">
                                                {% trans "Sign Up" %}
                                            </button>
                                        </div>

                                        <p class="note">
                                            By signing up, you agree to our terms of services and privacy
                                            policy.
                                        </p>

                                        <p class="lead">
                                            Already have an account?
                                            <a class="login-link" id="login-link"
                                               href="


                                                       {% url 'account_login' %}{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}">
                                                Log in
                                            </a>
                                        </p>


                                    </form>
                                </div><!--//form-container-->
                                <div class="social-btns col-md-5 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-sm-offset-0">
                                    <div class="divider"><span>Or</span></div>
                                    {% include 'socialbuttons.html' with action='Sign up' %}
                                    <p class="note">Don't worry, we won't post anything on your behalf.</p>
                                </div><!--//social-login-->
                            </div><!--//row-->
                        </div><!--//form-box-inner-->
                    </div><!--//form-box-->
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//signup-section-->
    </div><!--//upper-wrapper-->


{% endblock %}
