@media (max-width: 767px) {
    .promo.section {
        padding-top: 20px;
    }

    .container.text-center > h2 {
        font-size: 32px;
        display: block;
    }

}

@media (min-width: 768px) {
    .container.text-center > h2 {
        display: inline-block;
        font-size: 64px;
    }

    .custom-section .section-inner {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 992px) {
    .branding {
        margin-left: 20px;
    }

    .navbar-right {
        margin-right: 20px;
    }
}

/* <!-- INDEX PAGE --> */
.bg-slider-wrapper .flexslider .slide.slide-1 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('../images/background/custom-header-1.JPG') no-repeat 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-slider-wrapper .flexslider .slide.slide-2 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)), url('../images/background/custom-header-2.JPG') no-repeat 50% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-slider-wrapper .flexslider .slide.slide-3 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('../images/background/custom-header-3.JPG') no-repeat 50% top;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* LANDING SECTION */

.container.text-center > h2 {
    font-weight: 200;
}

.promo.section select {
    border-radius: 0;
    height: 65px;
    font-size: 16px;
}

#landing-submit {
    height: 65px;
    font-size: 25px;
    font-weight: 100;
    padding: 0;
}

.row.no-pad {
    margin-right: 0;
    margin-left: 0;
}

.row.no-pad > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

/* WHY SECTION */
.why .row.item.last-item {
    padding: 30px 0;
}

.why .row.item.last-item .content {
    text-align: center;
    padding: 0 20px;
}

.why .row.item.last-item .content > h3 {
    text-align: center;
}

.why .row.item.last-item .content > img {
    margin-bottom: 20px;
}

/* <!-- SIGNUP PAGE --> */
#signup-form .lead {
    font-size: 18px;
}

#signup-form .lead .login-link {
    font-weight: 400;
}

/* <!-- BOOKING PAGE --> */
.booking-section .booking-form {
    margin: 0;
}

.booking-section .btn.dropdown-toggle.btn-default {
    border-radius: 3px;
    height: 40px;
    display: block;
    font-size: 14px;
    font-weight: normal;
}

.booking-section .dropdown-menu.open {
    border-radius: 0;
    padding: 0;
    border: 1px;
    margin: 1px 0;
}

.booking-section .form-group.form-group-extra-dirty {
    margin-bottom: 40px;
}

.booking-section .form-group.form-group-extra-dirty .form-control {
    height: 17px;
    width: auto;
    float: left;
    margin-right: 10px;
    margin-top: 1px
}

.booking-section .form-group.form-group-extra-dirty > label {
    font-weight: normal;
    font-size: 14px;
    display: inline;
}

.booking-section .car-divs {
    overflow: hidden;
    height: 0;
}

.btn-form-submit {
    margin-top: 30px;
    height: 50px;
    font-size: 20px;
}

#total-price {
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    padding: 0;
    margin-top: 30px;
    display: inline-block;
    float: right;
}

/* <!-- PAYMENT PAGE --> */
.payment-section .edit-request {
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    padding: 0;
    margin-top: 30px;
    display: inline-block;
    float: right;
}

.payment-section table {
    width: 100%;
}

.payment-section .paypal-form {
    margin: 30px;
}

/* <!-- WASHREQUEST PAGE --> */
/* <!-- PAYMENT PAGE --> */
.washrequest-section .request-action {
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    float: right;
}

.washrequest-section table {
    width: 100%;
}

.washrequest-section .paypal-form {
    margin: 30px;
}

/* <!-- WASHER SIGNUP --> */
.washer-section .form-group > label {
    display: block;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 0;
}

.washer-section .row.form-circumstances .form-group {
    margin-top: 30px;
}

.washer-section .btn-group .btn {
    border-radius: 0px;
}

/* <!-- ALL PAGES --> */
/* SECTION */
.custom-section {
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    z-index: 10;
}

.custom-section .title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 30px;
}

.custom-section .inner-section-title {
    font-weight: 300;
    float: left;
    padding: 0;
    margin-top: 30px;
}

.custom-section .section-inner {
    background: white;
    border-radius: 4px;
    padding-bottom: 30px;
}

.custom-section .form-group .form-control {
    border: 1px solid #ccc;
}

.error-message {
    color: #a94442;
    margin-bottom: 0;
}

.form-group.has-error label {
    color: #a94442;
}

.form-group.has-error .form-control {
    border-color: #a94442;
}

.no-border-radius {
    border-radius: 0;
}

.row.no-margin {
    margin: 0;
}

/* NAVBAR */

.header h1.logo > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

