/* <!-- INDEX PAGE --> */

/* LANDING SECTION */
@media (max-width: 767px) {
    .promo.section {
        padding-top: 20px;
    }

    .container.text-center > h2 {
        font-size: 32px;
        display: block;
    }

    .container
}

@media (min-width: 768px) {
    .container.text-center > h2 {
        display: inline-block;
        font-size: 64px;
    }
}

.container.text-center > h2 {
    font-weight: 200;
}

.promo.section .btn.dropdown-toggle.btn-default {
    border-radius: 0;
    height: 65px;
    display: block;
    font-size: 16px;
}

#landing-submit {
    border-radius: 0;
    height: 65px;
    display: block;
    font-size: 25px;
    font-weight: 100;
    padding: 0;
}

.promo.section .dropdown-menu.open {
    border-radius: 0;
    padding: 0;
    border: 1px;
    margin: 1px 0;
}

.promo.section .dropdown-menu.inner > li:hover {
    background: #ccffff;
}

.promo.section .dropdown-menu.inner > li > a {
    height: 100%;
    width: 100%;
    line-height: 46px;
    z-index: 1;
}

.promo.section .dropdown-menu.inner > li > a {
    display: inline-block;
    velical-align: middle;
}

.row.no-pad {
    margin-right: 0;
    margin-left: 0;
}

.row.no-pad > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

/* WHY SECTION */
.why .row.item.last-item {
    padding: 30px 0;
}

.why .row.item.last-item .content {
    text-align: center;
    padding: 0 20px;
}

.why .row.item.last-item .content > h3 {
    text-align: center;
}

.why .row.item.last-item .content > img {
    margin-bottom: 20px;
}

/* <!-- SIGNUP PAGE --> */
#signup-form .lead {
    font-size: 18px;
}

#signup-form .lead .login-link {
    font-weight: 400;
}

/* <!-- BOOKING PAGE --> */
.booking-section .booking-form {
    margin: 0 15px;
}

.booking-section .booking-form-inner {
    background: white;
    padding: 30px;
    border-radius: 4px;
}

.booking-section .btn.dropdown-toggle.btn-default {
    border-radius: 3px;
    height: 40px;
    display: block;
    font-size: 14px;
    font-weight: normal;
}

.booking-section .dropdown-menu.open {
    border-radius: 0;
    padding: 0;
    border: 1px;
    margin: 1px 0;
}

.booking-section .dropdown-menu.inner > li:hover {
    background: #ccffff;
}

.booking-section .dropdown-menu.inner > li > a {
    height: 100%;
    width: 100%;
    line-height: 46px;
    z-index: 1;
    display: inline-block;
}

.booking-section .form-group .form-control {
    border: 1px solid #ccc;
}

.booking-section .form-group.form-group-extra-dirty .form-control {
    height: auto;
    width: auto;
    float: left;
    margin-right: 10px;


}

.booking-section .form-group.form-group-extra-dirty > label {
    font-weight: normal;
    font-size: 14px;
}

#booking-submit {
    margin-top: 30px;
    height: 50px;
    font-size: 20px;
}

/* <!-- ALL PAGES --> */
/* SECTION */
.custom-section {
    padding-top: 90px;
    position: relative;
    z-index: 10;
}

.custom-section {
    padding-top: 125px;
}

.custom-section .title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 30px;
}

.custom-section .inner-section-title {
    font-weight: 300;
    float: left;
    padding: 0;
    margin-top: 30px;
}

#total-price {
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    padding: 0;
    margin-top: 30px;
    display: inline-block;
    float: right;
}

/* NAVBAR */
@media (min-width: 992px) {
    .branding {
        margin-left: 20px;
    }

    .navbar-right {
        margin-right: 20px;
    }
}

.header h1.logo > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nav-item.nav-item-cta.last > a {
    border-radius: 2px;
}


