/* <!-- ALL PAGES --> */
/* SECTION */
.custom-section {
    padding-top: 90px;
    position: relative;
    z-index: 10;
}

/* NAVBAR */
@media (min-width: 992px) {
    .branding {
        margin-left: 20px;
    }

    .navbar-right {
        margin-right: 20px;
    }
}

.header h1.logo > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nav-item.nav-item-cta.last > a {
    border-radius: 2px;
}

/* <!-- INDEX PAGE --> */

/* LANDING SECTION */
@media (max-width: 767px) {
    .container.text-center > h2 {
        font-size: 32px;
        display: block;
    }
}

@media (min-width: 768px) {
    .container.text-center > h2 {
        display: inline-block;
        font-size: 64px;
    }
}

.container.text-center > h2 {
    font-weight: 200;
}

.btn.dropdown-toggle.btn-default {
    border-radius: 0;
    height: 65px;
    display: block;
    font-size: 16px;
}

#landing_submit {
    border-radius: 0;
    height: 65px;
    display: block;
    font-size: 25px;
    font-weight: 100;
    padding: 0;
}

.dropdown-menu.open {
    border-radius: 0;
    padding: 0;
    border: 1px;
    margin: 1px 0;
}

.dropdown-menu.inner > li:hover {
    background: #ccffff;
}

.dropdown-menu.inner > li > a {
    height: 100%;
    width: 100%;
    line-height: 46px;
}

.dropdown-menu.inner > li > a {
    display: inline-block;
    velical-align: middle;
}

.row.no-pad {
    margin-right: 0;
    margin-left: 0;
}

.row.no-pad > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

/* WHY SECTION */
.why .row.item.last-item {
    padding: 30px 0;
}

.why .row.item.last-item .content {
    text-align: center;
    padding: 0 20px;
}

.why .row.item.last-item .content > h3 {
    text-align: center;
}

.why .row.item.last-item .content > img {
    margin-bottom: 20px;
}

/* <!-- SIGNUP PAGE --> */
#signup-form .lead {
    font-size: 18px;
}

#signup-form .lead .login-link {
    font-weight: 400;
}

/* <!-- BOOKING PAGE --> */
