{% extends 'base.html' %}

{% load customtags %}

{% load staticfiles %}

{% block head_title %}
    Booking
{% endblock %}

{% block body-class %}
    class="booking-page" onload="assignInitialValues(
    {% if initial_type_choice and initial_interior_choice %}
        '{{ initial_type_choice }}', '{{ initial_interior_choice }}'
    {% endif %}
    );"
{% endblock %}


{% block content %}
    <div class="headline-bg booking-headline-bg">
    </div><!--//headline-bg-->

    <section class="booking-section custom-section section section-on-bg">
        <div class="container">
            <h2 class="title text-center">Request Carwash</h2>

            <form class="booking-form" method="POST" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="section-inner col-md-6 col-md-offset-3 col-sm-12">
                        {% if message %}
                            <div class="col-sm-12">
                                <p class="inner-section-title error-message">{{ message }}</p>
                            </div>
                        {% endif %}
                        <div class="row form-profile">
                            <div class="col-sm-12">
                                <h3 class="inner-section-title">Profile</h3>
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form.first_name_field }}
                                {% for error in form.first_name_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form.last_name_field }}
                                {% for error in form.last_name_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-sm-12 form-group">
                                {{ form.phone_field }}
                                {% for error in form.phone_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-sm-12 form-group">
                                {{ form.email_field }}
                                {% for error in form.email_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row form-wash-request">
                            <div class="col-sm-12">
                                <h3 class="inner-section-title">Carwash Request</h3>
                            </div>
                            <div class="col-sm-12 form-group">
                                {{ form.street_address_field }}
                                {% for error in form.street_address_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-sm-6 col-xs-12 form-group">
                                {{ form.suburb_field }}
                                {% for error in form.suburb_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-sm-3 col-xs-6 form-group">
                                {{ form.state_field }}
                                {% for error in form.state_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-sm-3 col-xs-6 form-group">
                                {{ form.postcode_field }}
                                {% for error in form.postcode_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-sm-12 form-group">
                                {{ form.wash_date_field }}
                                {% for error in form.wash_date_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-sm-12 form-group">
                                {{ form.promocode_field }}
                                {% for error in form.promocode_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row form-car-details">
                            <div class="col-sm-12">
                                <h3 class="inner-section-title">Car Details</h3>
                                <p id="total-price">$0</p>
                            </div>
                            {{ form.car_count_field }}
                            {% for car in form.booking.cars %}
                                <div id="car{{ car }}"
                                     {% if car != '1' %}class="row no-margin car-divs"
                                     {% else %}class="row no-margin"{% endif %}>
                                    <div class="col-sm-12 form-group">
                                        {{ form|get_car_specs_field:car }}
                                    </div>
                                    <div class="col-sm-5 form-group">
                                        {{ form|get_type_field:car }}
                                    </div>
                                    <div class="col-sm-7 form-group">
                                        {{ form|get_interior_field:car }}
                                    </div>
                                    <div class="col-sm-12 form-group form-group-extra-dirty">
                                        {{ form|get_extra_dirty_field:car }}
                                        <label for="id_extra_dirty_field{{ car }}">{{ form|get_extra_dirty_field_label:car }}</label>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-sm-12 form-group text-center">
                                <a id="remove_car_btn" type="button" class="btn btn-default" onclick="removeCar(this);"
                                   style="display: none"><span class="glyphicon glyphicon-minus"></span></a>
                                <a id="add_car_btn" type="button" class="btn btn-default" onclick="addCar(this);">
                                    <span class="glyphicon glyphicon-plus"></span></a>
                            </div>
                        </div>
                        <div class="row form-submit">
                            <div class="col-sm-12 form-group">
                                <button id="booking-submit"
                                        class="btn btn-cta btn-cta-primary btn-block btn-form-submit" type="submit">
                                    Submit Request
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}