{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %}
    Booking
{% endblock %}

{% block body-class %}
    class='booking-page' onload='assignValueFromLanding();'
{% endblock %}


{% block content %}
    <div class="headline-bg booking-headline-bg">
    </div><!--//headline-bg-->

    <section class="booking-section custom-section section section-on-bg">
        <div class="container">
            <h2 class="title text-center">Request Carwash</h2>

            <form class="booking-form" method="POST" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="section-inner col-md-6 col-md-offset-3 col-sm-12">
                        {% if message %}
                            <div class="col-sm-12">
                                <p class="inner-section-title error-message">{{ message }}</p>
                            </div>
                        {% endif %}
                        <div class="row form-profile">
                            <div class="col-sm-12">
                                <h3 class="inner-section-title">Profile</h3>
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form.first_name_field }}
                                {% for error in form.first_name_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form.last_name_field }}
                                {% for error in form.last_name_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-sm-12 form-group">
                                {{ form.phone_field }}
                                {% for error in form.phone_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-sm-12 form-group">
                                {{ form.email_field }}
                                {% for error in form.email_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row form-wash-request">
                            <div class="col-sm-12">
                                <h3 class="inner-section-title">Carwash Request</h3>
                            </div>
                            <div class="col-sm-12 form-group">
                                {{ form.street_address_field }}
                                {% for error in form.street_address_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-sm-6 col-xs-12 form-group">
                                {{ form.suburb_field }}
                                {% for error in form.suburb_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-sm-3 col-xs-6 form-group">
                                {{ form.state_field }}
                                {% for error in form.state_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-sm-3 col-xs-6 form-group">
                                {{ form.postcode_field }}
                                {% for error in form.postcode_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-sm-12 form-group">
                                {{ form.wash_date_field }}
                                {% for error in form.wash_date_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row form-car-details">
                            <div class="col-sm-12">
                                <h3 class="inner-section-title">Car Details</h3>
                                <p id="total-price">$0</p>
                            </div>
                            {{ form.car_count_field }}
                            {% for car in form.booking.cars %}
                                <div id="car{{ car }}" {% if car != '1' %}style="display:none"{% endif %}>
                                    <div class="col-sm-12 form-group">
                                        <input class="form-control" id="id_car_specs_field{{ car }}"
                                               name="car_specs_field{{ car }}" placeholder="Car make and model"
                                               type="text">
                                    </div>
                                    <input class="form-control" id="id_type_field{{ car }}" name="type_field{{ car }}"
                                           type="hidden" value="Sedan">
                                    <div class="col-sm-5 form-group">
                                        <select id="select-type{{ car }}" data-width="100%" class="selectpicker"
                                                onchange="selectChangeBooking(this)">
                                            {% for car_type, car_price in form.type_choices %}
                                                <option class="select-options"
                                                        {% if car == '1' and initial_type_choice != None %}
                                                        {% if car_type == initial_type_choice %}selected{% endif %}
                                                        {% else %}
                                                        {% if car_type == form.default_type_choice %}selected{% endif %}
                                                        {% endif %}>
                                                    ${{ car_price }} &nbsp;&nbsp;&nbsp; {{ car_type }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <input class="form-control" id="id_interior_field{{ car }}"
                                           name="interior_field{{ car }}" type="hidden"
                                           value="Interior Vacuum &amp; Wipe">
                                    <div class="col-sm-7 form-group">
                                        <select id="select-interior{{ car }}" data-width="100%" class="selectpicker"
                                                onchange="selectChangeBooking(this)">
                                            {% for interior_type, interior_price in form.interior_choices %}
                                                <option class="select-options"
                                                        {% if car == '1' and initial_interior_choice != None %}
                                                        {% if interior_type == initial_interior_choice %}selected
                                                        {% endif %}
                                                        {% else %}
                                                        {% if interior_type == form.default_interior_choice %}selected
                                                        {% endif %}
                                                        {% endif %}>
                                                    ${{ interior_price }}&nbsp;&nbsp;&nbsp; {{ interior_type }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-12 form-group form-group-extra-dirty">
                                        <input class="form-control" id="id_extra_dirty_field{{ car }}"
                                               name="extra_dirty_field{{ car }}" onclick="getTotalPrice();"
                                               type="checkbox">
                                        <label for="id_extra_dirty_field{{ car }}">This car is really dirty, like
                                            seriously</label>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-sm-12 form-group">
                                <a id="add_car_btn" onclick="addCar(this);">add another car </a>
                                |
                                <a id="remove_car_btn" onclick="removeCar(this);" style="display: none">remove a car</a>
                            </div>
                        </div>
                        <div class="row form-submit">
                            <div class="col-sm-12 form-group">
                                <button id="booking-submit"
                                        class="btn btn-cta btn-cta-primary btn-block btn-form-submit" type="submit">
                                    Submit Request
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}