{% extends 'base.html' %}

{% block head_title %}
    Home
{% endblock %}

{% block body-class %}
    class='home-page'
{% endblock %}

{% block content %}
    <div class="bg-slider-wrapper">
        <div class="flexslider bg-slider">
            <ul class="slides">
                <li class="slide slide-1"></li>
                <li class="slide slide-2"></li>
                <li class="slide slide-3"></li>
            </ul>
        </div>
    </div><!--//bg-slider-wrapper-->

    <section class="promo section section-on-bg">
        <div class="container text-center">
            <h2 class="title">CARWASH. ON DEMAND</h2>
            <p class="intro">We'll bring the carwash to you</p>
            {{ message }}
            <form method="post" action="">
                {% csrf_token %}

                {{ form.non_field_errors }}
                {{ form.oneline_address.errors }}

                <div class="input-group">
                    {{ form.oneline_address }}
                    <span class="input-group-btn" style="width:0px;"></span>

                    <div class="form-action input-group-btn">
                        <button class="btn btn-cta btn-cta-primary" type="submit">Get Started</button>
                    </div>
                </div>

            </form>
        </div><!--//container-->
    </section><!--//promo-->

    <div class="sections-wrapper">
    </div>
{% endblock %}