{% extends 'base.html' %}

{% load customtags %}

{% load staticfiles %}

{% block head_title %}
    Home
{% endblock %}

{% block body-class %}
    class='home-page' onload='getTotalPrice();'
{% endblock %}

{% block content %}
    <div class="bg-slider-wrapper">
        <div class="flexslider bg-slider">
            <ul class="slides">
                <li class="slide slide-1"></li>
                <li class="slide slide-2"></li>
                <li class="slide slide-3"></li>
            </ul>
        </div>
    </div><!--//bg-slider-wrapper-->

    <section class="promo section section-on-bg">
        <div class="container text-center">
            <h2 class="title">CARWASH.</h2>
            <h2 class="title">ON DEMAND</h2>
            <p class="intro">We'll bring the carwash to you</p>
            {% if message %}
                <p class="error-message">{{ message }}</p>
            {% endif %}
            <form method="post" action="">
                {% csrf_token %}
                <div class="row no-pad">
                    <div class="col-xs-12 col-md-3 col-md-offset-2 form-group form-group-type">
                        {{ form|get_type_field }}
                    </div>
                    <div class="col-xs-12 col-md-4 form-group form-group-interior">
                        {{ form|get_interior_field }}
                    </div>
                    <div class="col-xs-12 col-md-1 form-group form-group-submit">
                        <button id="landing-submit" class="btn btn-cta btn-cta-primary btn-block no-border-radius"
                                type="submit"></button>
                    </div>
                </div>

            </form>
        </div><!--//container-->
    </section><!--//promo-->

    <div class="sections-wrapper">
        <!-- ******Steps Section****** -->
        <section id="why" class="section why">
            <div class="container">
                <h2 class="title text-center">Why AirSponge?</h2>
                <p class="intro text-center">We keep your car clean so you dont have to</p>

                <div class="row item last-item">
                    <div class="content col-sm-3">
                        <img class="image" src="{% static 'images/icons/clock.png' %}" alt=""/>
                        <h3 class="title text-center">Save Time</h3>
                        <div class="desc">
                            <p>Explain one of your product benefits here. Let users know how they can benefit using your
                                product. It’s also a good idea to back it up with a testimonial or tweet from your
                                users.</p>
                        </div>
                    </div><!--//content-->
                    <div class="content col-sm-3">
                        <img class="image" src="{% static 'images/icons/clock.png' %}" alt=""/>
                        <h3 class="title text-center">Save Time</h3>
                        <div class="desc">
                            <p>Explain one of your product benefits here. Let users know how they can benefit using your
                                product. It’s also a good idea to back it up with a testimonial or tweet from your
                                users.</p>
                        </div>
                    </div><!--//content-->
                    <div class="content col-sm-3">
                        <img class="image" src="{% static 'images/icons/clock.png' %}" alt=""/>
                        <h3 class="title text-center">Save Time</h3>
                        <div class="desc">
                            <p>Explain one of your product benefits here. Let users know how they can benefit using your
                                product. It’s also a good idea to back it up with a testimonial or tweet from your
                                users.</p>
                        </div>
                    </div><!--//content-->
                    <div class="content col-sm-3">
                        <img class="image" src="{% static 'images/icons/clock.png' %}" alt=""/>
                        <h3 class="title text-center">Save Time</h3>
                        <div class="desc">
                            <p>Explain one of your product benefits here. Let users know how they can benefit using your
                                product. It’s also a good idea to back it up with a testimonial or tweet from your
                                users.</p>
                        </div>
                    </div><!--//content-->
                </div><!--//row-->

                <div class="feature-lead text-center">
                    <h4 class="title">Want to discover all the features?</h4>
                    <p><a class="btn btn-cta btn-cta-secondary" href="#">Take a Tour</a></p>
                </div>
            </div><!--//container-->
        </section><!--//why-->
    </div>
{% endblock %}