{% extends 'base.html' %}

{% block head_title %}
    Home
{% endblock %}

{% block body-class %}
    class='home-page'
{% endblock %}

{% block content %}
    <div class="bg-slider-wrapper">
        <div class="flexslider bg-slider">
            <ul class="slides">
                <li class="slide slide-1"></li>
                <li class="slide slide-2"></li>
                <li class="slide slide-3"></li>
            </ul>
        </div>
    </div><!--//bg-slider-wrapper-->

    <section class="promo section section-on-bg">
        <div class="container text-center">
            <h2 class="title">CARWASH. ON DEMAND</h2>
            <p class="intro">We'll bring the carwash to you</p>
            <p><a class="btn btn-cta btn-cta-primary" href="signup.html">Try AirSponge Free</a></p>
        </div><!--//container-->
    </section><!--//promo-->

    <div class="sections-wrapper">
    </div>
{% endblock %}