<header id="header{{ none }}" class="header navbar-fixed-top {{ scrolled }}">
    <div>
        <div class="branding">
            <h1 class="logo">
                <a href="/"><span class="text">AirSponge</span></a>
            </h1><!--//logo-->
        </div>
        <nav class="main-nav navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><!--//nav-toggle-->
            </div><!--//navbar-header-->
            <div id="navbar-collapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">


                    {% if user.is_authenticated and user.role != 'Washer' %}
                        <li class="nav-item nav-item-cta">
                            <a class="btn btn-cta btn-cta-secondary" href="{% url 'a:washer' %}">Become a Washer</a>
                        </li>
                    {% endif %}

                    <li class="nav-item {{ pricing_active }}"><a href="{% url 'a:pricing' %}">Pricing</a></li>
                    <li class="nav-item {{ insurance_active }}"><a href="{% url 'a:insurance' %}">Insurance</a></li>
                    <li class="nav-item {{ about_active }}"><a href="{% url 'a:about' %}">About Us</a></li>
                    <li class="nav-item {{ contact_active }}"><a href="{% url 'a:contact' %}">Contact Us</a></li>

                    {% if user.is_authenticated %}
                        <li class="nav-item nav-item-cta last dropdown">
                            <a class="dropdown-toggle btn btn-cta btn-cta-secondary" data-toggle="dropdown"
                               data-hover="dropdown" data-delay="0"
                               data-close-others="false" href="#">
                                {% if user.first_name %}
                                    {{ user.first_name }}
                                {% else %}
                                    {{ user.username }}
                                {% endif %}
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'a:profile' %}">Profile</a></li>
                                <li><a href="{% url 'account_logout' %}">Log out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item"><a href="{% url 'account_login' %}">Log in</a></li>
                        <li class="nav-item nav-item-cta last">
                            <a class="btn btn-cta btn-cta-secondary" href="{% url 'account_signup' %}">Sign Up</a>
                        </li>
                    {% endif %}


                </ul><!--//nav-->
            </div><!--//navabr-collapse-->
        </nav><!--//main-nav-->
    </div><!--//container-->
</header><!--//header-->