{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %}
    Payment
{% endblock %}

{% block body-class %}
    class='payment-page'
{% endblock %}

{% block content %}
    <div class="headline-bg payment-headline-bg">
    </div><!--//headline-bg-->

    <section class="payment-section custom-section section section-on-bg">
        <div class="container">
            <h2 class="title text-center">Wash Request #{{ wash_request.id }}</h2>
            <div class="row">
                <div class="section-inner col-md-6 col-md-offset-3 col-sm-12">
                    <div class="row request">
                        <div class="col-sm-12">
                            <h3 class="inner-section-title">Request</h3>
                            {% if wash_request.status == 'pending' %}
                                <a class="edit-request" href="{% url 'a:booking' %}?id={{ wash_request.id }}">Edit
                                    Request</a>
                            {% endif %}
                        </div>
                        <div class="col-sm-12">
                            <table class="table-condensed">
                                <tr>
                                    <th>Name:</th>
                                    <td>{{ wash_request.washee.first_name }} {{ wash_request.washee.last_name }}</td>
                                </tr>
                                <tr>
                                    <th>Phone:</th>
                                    <td>{{ wash_request.washee.phone }}</td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td>{{ wash_request.washee.email }}</td>
                                </tr>
                                <tr>
                                    <th>Address:</th>
                                    <td>{{ wash_request.address.oneline_address }}</td>
                                </tr>
                                <tr>
                                    <th>Wash Date:</th>
                                    <td>{{ wash_request.wash_date }}</td>
                                </tr>
                                {% if wash_request.promocode %}
                                    <tr>
                                        <th>Promocode:</th>
                                        <td>{{ wash_request.promocode.code }}</td>
                                    </tr>
                                    <tr>
                                        <th>Discount:</th>
                                        <td>${{ wash_request.discount }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>Total:</th>
                                    <td>${{ wash_request.total_price }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row cars">
                        {% for car in wash_request.car_set.all %}
                            <div class="col-sm-12">
                                <h3 class="inner-section-title">{{ car.specs }}</h3>
                                <table class="table-condensed">
                                    <tr>
                                        <td>
                                            {{ car.type }}
                                        </td>
                                    </tr>
                                    {% if car.wiping %}
                                        <tr>
                                            <td>Interior wipe</td>
                                        </tr>
                                    {% endif %}
                                    {% if car.vacuum %}
                                        <tr>
                                            <td>Interior vacuum</td>
                                        </tr>
                                    {% endif %}
                                    {% if car.extra_dirty %}
                                        <tr>
                                            <td>
                                                Extra dirty
                                            </td>
                                        </tr>
                                    {% endif %}

                                    <tr>
                                        <td>
                                            ${{ car.price }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                    {% if wash_request.status == 'pending' %}
                        <div class="form-group paypal-form text-center">

                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">

                                <!-- Identify your business so that you can collect the payments. -->
                                <input type="hidden" name="business" value="areej@airsponge.com">

                                <!-- Specify a Buy Now button. -->
                                <input type="hidden" name="cmd" value="_xclick">

                                <!-- Specify details about the item that buyers will purchase. -->
                                <input type="hidden" name="item_name" value="One time carwash">
                                <input type="hidden" name="amount" value={{ wash_request.total_price }}>
                                <input type="hidden" name="currency_code" value="AUD">

                                <!-- Display the payment button. -->
                                <input type="image" name="submit" border="0"
                                       src="https://www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout2.gif"
                                       alt="PayPal - The safer, easier way to pay online">
                                <img alt="" border="0" width="1" height="1"
                                     src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">

                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}