{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %}
    Washer Sign Up
{% endblock %}

{% block body-class %}
    class='washer-signup-page'
{% endblock %}

{% block content %}
    <div class="headline-bg booking-headline-bg">
    </div><!--//headline-bg-->

    <section class="washer-section custom-section section section-on-bg">
        <div class="container">
            <h2 class="title text-center">Washer sign up</h2>

            <form class="washer-form" method="POST" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="section-inner col-md-6 col-md-offset-3 col-sm-12">
                        {% if message %}
                            <div class="col-sm-12">
                                <p class="inner-section-title error-message">{{ message }}</p>
                            </div>
                        {% endif %}
                        <div class="row form-profile">
                            <div class="col-sm-12">
                                <h3 class="inner-section-title">Profile</h3>
                            </div>
                            {% include 'form-field.html' with field=form.first_name_field class='col-sm-6' %}
                            {% include 'form-field.html' with field=form.last_name_field class='col-sm-6' %}
                            {% include 'form-field.html' with field=form.phone_field class='col-sm-12' %}
                            {% include 'form-field.html' with field=form.email_field class='col-sm-12' %}
                        </div>
                        <div class="row form-address">
                            <div class="col-sm-12">
                                <h3 class="inner-section-title">Address</h3>
                            </div>
                            {% include 'form-field.html' with field=form.street_address_field class='col-sm-12' %}
                            {% include 'form-field.html' with field=form.suburb_field class='col-sm-6 col-xs-12' %}
                            {% include 'form-field.html' with field=form.state_field class='col-sm-3 col-xs-6' %}
                            {% include 'form-field.html' with field=form.postcode_field class='col-sm-3 col-xs-6' %}
                        </div>
                        <div class="row form-circumstances">
                            <div class="col-sm-12 form-group">
                                <label for="{{ form.has_car_field.id_for_label }}">{{ form.has_car_field.label }}</label>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <input type="radio" name="has_car_field" checked="checked" value="True"/>
                                        Yes
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="has_car_field" value="False"/> No
                                    </label>
                                </div>
                                {% for error in form.has_car_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="{{ form.has_hose_field.id_for_label }}">{{ form.has_hose_field.label }}</label>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <input type="radio" name="has_hose_field" checked="checked" value="True"/>
                                        Yes
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="has_hose_field" value="False"/> No
                                    </label>
                                </div>
                                {% for error in form.has_hose_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="{{ form.vacuum_type_field.id_for_label }}">{{ form.vacuum_type_field.label }}</label>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <input type="radio" name="vacuum_type_field" checked="checked" value="Regular"/>
                                        Regular
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="vacuum_type_field" value="Cordless"/>
                                        Cordless
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name="vacuum_type_field" value="None"/>
                                        None
                                    </label>
                                </div>
                                {% for error in form.has_hose_field.errors %}
                                    <p class="error-message">{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% include 'form-field.html' with field=form.travel_distance_field label='before' class='col-sm-12' %}
                            {% include 'form-field.html' with field=form.availability_field label='before' class='col-sm-12' %}
                            {% include 'form-field.html' with field=form.experience_field label='before' class='col-sm-12' %}
                        </div>
                        <div class="row form-submit">
                            <div class="col-sm-12 form-group">
                                <button id="washer-signup-submit"
                                        class="btn btn-cta btn-cta-primary btn-block btn-form-submit"
                                        type="submit">Apply
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}